@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

body {
  @apply text-neutral-900 bg-white dark:text-neutral-100 dark:bg-neutral-900;
  font-family: theme('fontFamily.sans');
}
